body,html{
    padding: 0;
    margin: 0;
}
.team{
    background:#eee !important;
    padding: 20px;
    overflow: auto;
    border: 1px solid #cccccc;
}
.team_logo{
    width: 158px;
    padding: 20px;
    border: 1px solid #cccccc;
    position: absolute;
    background: white;
}
.team_logo img{
    width: 80px;
    height: 80px;
}
.team_logo span{
    font-size: 14px;
    font-weight: bold;
    position: static;
    top: 25px;
    left: 110px;
}
.team_introduce{
    margin: 0px 180px 220px 219px;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 20px;

}
.personal_logo{
    border: 1px solid #cccccc;
    position: relative;
    top: -21px;
    right: 0px;
    background: white;
    float: right;
    margin-top: 20px;
    margin-left: 50px;
}
.personal_logo .personal{
    margin: 20px;
    padding: 5px;
    background: #eee;
}
.personal_logo .personal span{
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}
.personal_logo .personal img{
    width: 80px;
    height: 80px;
}
